<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ошибка</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <div class="container error-container">
      <h1>⚠️ Произошла ошибка</h1>

      <div class="error-details">
        <div class="error-message">
          <strong>Сообщение:</strong>
          <code>{{ error }}</code>
        </div>

      <div class="actions">
        <a href="/" class="button">⟵ Вернуться на главную</a>
      </div>
    </div>
  </body>
</html>
